* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 14px;
}

.btn {
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 50px;
  color: #fff;
  background-color: rgb(47, 179, 240);
  border: none;
  outline: none;
  font-size: 16px;
  min-width: 120px;
}

.primary-color {
  background-color: rgb(24, 24, 202);
}
.para-color {
  color: #b5b1b1;
}

.mb {
  margin-bottom: 5px;
}

.mt10 {
  margin-top: 14px;
}

.mb10 {
  margin-bottom: 10px;
}

.pb20 {
  padding-bottom: 6px;
  border-bottom: 1px solid #ededed;
}

/* SIDEBAR */

.sidebar {
  background-color: rgb(47, 179, 240);
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 15px;
}

.top-container {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 80px;
}

.dashboard-icon {
  width: 42px;
  fill: #fff;
}

h1 {
  font-size: 26px;
}

.dashboard-link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.middle-container {
  margin-bottom: 220px;
}

.middle-container,
.bottom-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* border: 1px solid black; */
}

.svg-white {
  width: 26px;
  fill: #fff;
}

.account-name {
  margin-bottom: 0;
}

/* HEADER */

header {
  padding: 20px 30px;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.top-header,
.bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  padding: 4px 12px;
  border-radius: 30px;
  flex: 0.45;
}

.search-bar input[type="text"] {
  border: none;
  outline: none;
  background: transparent;
  padding: 8px;
  font-size: 16px;
  flex: 1;
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 4px 4px;
  border-radius: 50%;
  transition: background 0.2s;
}

.search-bar button:hover {
  background: #e0e0e0;
}

svg {
  width: 26px;
}

.account-settings {
  align-items: center;
  display: flex;
  gap: 40px;
}

.account-pic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.profile-intro {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile-intro-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.gap {
  gap: 7px;
}

.social {
  font-weight: normal;
  font-size: 16px;
}

.button-gadgets {
  display: flex;
  gap: 35px;
}

/* MAIN */

main {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 30px;
  background-color: lightgray;
  gap: 32px;
}

h3 {
  margin-bottom: 20px;
}

.projects-galleries {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.project-card {
  background-color: #fff;
  padding: 15px;
  /* display: flex;
  flex-direction: column;
  gap: 15px; */
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 15px;
  border-radius: 10px;
  border-left: 10px solid gold;
}

.project-gadgets {
  display: flex;
  gap: 20px;
}

.announcements-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.trending-card {
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 10px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
